

/******************/
/* Type selectors */
/******************/

body {
    background-color: #eee;
    font-size: 24px; /* this rule is inherited */
    border: 2px solid red;

}


h2 {
    color: blue;
}



/*******************/
/* Class Selectors */
/*******************/

.highlight {
    color:  orange;
}

.first {
    border:  1px solid red;
}



/****************/
/* Id Selectors */
/****************/

#ingredients-list {
    border: 5px solid green;
}


/**********************/
/* Universal selector */
/**********************/

/* 

* {
    border: 1px solid;
}

*/


/***********************/
/* Combining Selectors */
/***********************/

h3.highlight {
    text-decoration: underline;
}


/***************/
/* Descendants */
/***************/

div p {
    background-color: aqua;
}


/********************************/
/* Direct Descendants (Children)*/
/********************************/

ul > li {
    background-color: limegreen;
}


/**********************/
/* Multiple selection */
/**********************/

h2, h3 {
    color: blue;
}



/****************************************/
/* Some examples of selector precedence */
/****************************************/

#my-title {
    color: red;
}

.subtitle.first {
    color: fuchsia;
}

.subtitle {
    color: orange;
}


h4 {
    color: blue;
}



/****************************************/
/****************************************/
/****************************************/

#container {
    background-color: rgb(255, 186, 48);
    text-align: left;
    height: 200px;
    width: auto;

    margin: 40px;
    /* padding: 20px; */

    /* padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 9px; */

    padding: 20px 9px 12px 5px;

    
    border-color: black;
    border-style: solid;
    border-width: 2px;

    /* shorthand */
    /* border: 2px solid black;  */

    border-radius: 20px;
    
}

#circle {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    border-radius: 50%;
}



h1 {
    color: red
}


@media (min-width: 600px){
    h1 {
        color: orange;
    }

    h2 {
        color: green;
    }

    .banner {
        width: 100%;
    }
} 

@media (min-width: 1200px){
    .banner {
        width: 60%;
    }
} 